{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
    <h2>Log In</h2>
    {% if user.is_authenticated %}
        <p>
            You are logged in.
        </p>
        <br/>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endif %}
{% endblock %}