{% extends 'base.html' %}

{% block title %}{{ author.username }}{% endblock %}

{% block content %}
    <h1>{{ heading }}</h1>
    {% if user.is_authenticated %}
        <h1>Username: {{ author }}</h1>
        <p>This user has created the following tickets:</p>
        {#    START NEW TICKETS HERE    #}
        <table class="table table-bordered table-hover table-light">
            <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time Created</th>
                <th scope="col">Created By</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <th scope="row"><a href="/tickets/{{ ticket.id }}">{{ ticket.title }}</a></th>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.time_created }}</td>
                    <td><a
                            href="/authors/{{ ticket.author_of_ticket.id }}">{{ ticket.author_of_ticket.username }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#    END NEW TICKETS HERE    #}


        <p>
            <a href="{% url 'logout' %}">Log Out</a> |
            <a href="{% url 'password_reset' %}">Reset Password</a>
        </p>
    {% else %}
        <small>username: -please login-
            <br/>
            logged in: no</small>
        <br/>
        <h2>Hello, Friend!</h2>
        <p>Please login</p>
        <br/>
        <small>
            <a href="{% url 'login' %}">Log In</a> |
            <a href="{% url 'password_reset' %}">Reset Password</a>

        </small>
    {% endif %}
{% endblock %}