{% extends 'base.html' %}
{% block title %}Create New Ticket{% endblock %}
{% block content %}
    <h2>Edit Existing Ticket</h2>
    {% if user.is_authenticated %}
        <p>Please be mindful of Ticket updates!</p>
        <br/>
        <form method="post">
            <div class="form-group">
                {{ ticket.status_of_ticket }}
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% else %}

    {% endif %}
{% endblock %}