{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
            {% if user.is_authenticated %}
                <li class="breadcrumb-item " aria-current="page"><a href="{% url 'create_ticket' %}">Create Ticket</a>
                </li>
                <li class="breadcrumb-item " aria-current="page"><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li class="breadcrumb-item " aria-current="page"><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ol>
    </nav>
    <h1>{{ heading }}</h1>
    {% if user.is_authenticated %}
        <h4>Hello, {{ user.displayname }}!</h4>
        <p>Congratulations, you are logged in as <strong>{{ user.username }}</strong>.</p>
        <br/>

        {#    NEW TICKETS HERE    #}
        <h2>NEW TICKETS</h2>
        {% for ticket in tickets_new %}
            <li>
                Status: {{ ticket.status_of_ticket }}
            </li>
            <li>Title: <a href="/tickets/{{ ticket.id }}">{{ ticket.title }}</a></li>
            <li>Description: {{ ticket.description }}</li>
            <li>Time Created: {{ ticket.time_created }}</li>
            <li>
                Created By: <a
                    href="/authors/{{ ticket.author_of_ticket.id }}">{{ ticket.author_of_ticket.username }}</a>
            </li>
            <br/>
        {% endfor %}

        {#    IN PROGRESS TICKETS HERE    #}
        <h2>IN PROGRESS TICKETS</h2>
        {% for ticket in tickets_in_progress %}
            <li>
                Status: {{ ticket.status_of_ticket }}
            </li>
            <li>Title: <a href="/tickets/{{ ticket.id }}">{{ ticket.title }}</a></li>
            <li>Description: {{ ticket.description }}</li>
            <li>Time Created: {{ ticket.time_created }}</li>
            <li>
                Created By: <a
                    href="/authors/{{ ticket.author_of_ticket.id }}">{{ ticket.author_of_ticket.username }}</a>
            </li>
            <br/>
        {% endfor %}

        {#    DONE TICKETS HERE    #}
        <h2>COMPLETED TICKETS</h2>
        {% for ticket in tickets_done %}
            <li>
                Status: {{ ticket.status_of_ticket }}
            </li>
            <li>Title: <a href="/tickets/{{ ticket.id }}">{{ ticket.title }}</a></li>
            <li>Description: {{ ticket.description }}</li>
            <li>Time Created: {{ ticket.time_created }}</li>
            <li>
                Created By: <a
                    href="/authors/{{ ticket.author_of_ticket.id }}">{{ ticket.author_of_ticket.username }}</a>
            </li>
            <br/>
        {% endfor %}

        <hr>
        {#    INVALID TICKETS HERE    #}
        <h3>INVALID TICKETS</h3>
        {% for ticket in tickets_invalid %}
            <li>
                Status: {{ ticket.status_of_ticket }}
            </li>
            <li>Title: <a href="/tickets/{{ ticket.id }}">{{ ticket.title }}</a></li>
            <li>Description: {{ ticket.description }}</li>
            <li>Time Created: {{ ticket.time_created }}</li>
            <li>
                Created By: <a
                    href="/authors/{{ ticket.author_of_ticket.id }}">{{ ticket.author_of_ticket.username }}</a>
            </li>
            <br/>
        {% endfor %}

        <br/>
        <p>
            <a href="{% url 'logout' %}">Log Out</a> |
            <a href="{% url 'password_reset' %}">Reset Password</a>
        </p>
    {% else %}
        <h2>Hello, Friend!</h2>
        <p>Please login</p>
        <small>
            <a href="{% url 'login' %}">Log In</a> |
            <a href="{% url 'password_reset' %}">Reset Password</a>

        </small>
    {% endif %}
{% endblock %}